* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}
.container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box2 {
    flex-basis: calc(33.33% - 20px);
    margin: 10px;
    padding: 20px;
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.row2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
    border: 1px solid #ccc;
}

.box {
	flex: 1;
	margin: 20px;
	padding: 20px;
	border: 1px solid #ccc;
	/* text-align: center; */
}

#logo {
	
    text-align: center;
    width: 15%;
    padding: 0px 30px 0px;
}

/* .row #contact {
	
    text-align: center;
} */

.information{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
    border: 1px solid #ccc;
}

.row2 .contact {
	
    text-align: right;
    border: none;

}

.row2 .data {
	
	text-align: left;
    
    border: none;
}

.box h1 {
	margin-bottom: 10px;
}

.box p {
	line-height: 1.5;
}
